@import "./reset";

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  background-color: #2167b2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
}

.content {
  width: 96rem;
}

h1 {
  font-size: 19rem;
  line-height: 1.7;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.425;
}

.percent {
  padding-top: 2rem;
}

.details {
  padding-top: 4rem;
  display: flex;
}

.qr {
  padding-right: 2rem;
}

.subtext {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  margin-top: 2rem;
}
